[Unit]
Description=Sync onvif-recorder APT channel with Protect release channel
Documentation=https://github.com/demiurge28/ubiquiti-protect-onvif-event-listener

[Service]
Type=oneshot
ExecStart=/usr/libexec/onvif-recorder/detect-channel.sh
ExecStart=/usr/libexec/onvif-recorder/install-apt-source.sh
ExecStartPost=/usr/bin/apt-get update -o Dir::Etc::sourcelist=/etc/apt/sources.list.d/onvif-recorder.list -o Dir::Etc::sourceparts=- -o APT::Get::List-Cleanup=0
